body {
    background-color: whitesmoke;
}

.titulo {
    text-align: center;
    color: black;
}


/* botoes da pagina de inicio */
.btns {
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    transition: transform 0.1s ease-in-out;
}

.btns_2 {
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    transition: transform 0.1s ease-in-out;
}


.btns_2:hover {
    transform: scale(0.8);
}
.btns:hover {
    transform: scale(0.8);
}
/**/


/* botao de resposta */
.fases {
    background-color: black;
}




.button_rps {
    position: absolute;
    right: 50%;
    
    width: 100px;
    height: 40px;
    background-color: black;
    color: aliceblue;
}

/**/

/* Dica */

.dicas {
    background-color: black;
    color: aliceblue;
    position: absolute;
    top: 95%;
    right: 5px;
}

/* Centralizar */


.meio_f3 {
    position: absolute;
    top: 50%;
    left: 35%;
    color: aliceblue;
}

.centro {
    position: absolute;
    top: 35%;
    right: 45%;
    
}